.btn {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.btn .button {
    color: #000;
    border: none;
}

.btn .button.active {
    background: #20c997;
    color: #fff;
    border: none;
}