.hook {
    background: aquamarine;
    padding: 50px;
    font-size: 30px;
    transition: 2s;
    transform: translateX(-110%);
}

.hook.active {
    background: green;
    transform: translateX(0%);
}

.meo {
    width: 100%;
    height: 200px;
    background-color: red;
    transition: 1s;
    transform: translateX(-110%);
}

.meo.active {
    background: green;
    transform: translateX(0%);
}